{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenNous REST API",
    "version": "2.0.0",
    "description": "Read and write the OpenNous context graph over HTTP. Authenticate with a workspace API key."
  },
  "servers": [
    {
      "url": "https://api.opennous.cloud",
      "description": "OpenNous Cloud"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "People"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "Deals"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Attention"
    },
    {
      "name": "Insights"
    },
    {
      "name": "Enrich & score"
    },
    {
      "name": "Organization"
    },
    {
      "name": "Workflows"
    },
    {
      "name": "Usage"
    }
  ],
  "paths": {
    "/v2/people": {
      "get": {
        "tags": [
          "People"
        ],
        "operationId": "listPeople",
        "summary": "List people",
        "description": "Filtered, paginated list of people. By default it lists the people the workspace has engaged: replied, met, in the CRM, or added by hand. `include=all` lists everyone, cold leads included, and supports fewer filters. Unknown query parameters return 400. Teammates, personal contacts, and product signups are excluded. A member key sees only its own book.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Substring match on email, first name, last name, company, and LinkedIn URL."
          },
          {
            "name": "pipeline_stage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "identified",
                "connected",
                "interested",
                "meeting_booked",
                "discovery",
                "demo",
                "negotiation",
                "closed_won",
                "closed_lost",
                "disqualified",
                "churned"
              ]
            },
            "description": "Exact stage."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact match on the person's source."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact match on the person's status."
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact email match, case-insensitive."
          },
          {
            "name": "linkedin_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact LinkedIn URL match. Trailing slash and `www` variants match."
          },
          {
            "name": "has_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Only people with, or without, an email."
          },
          {
            "name": "has_linkedin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Only people with, or without, a LinkedIn URL."
          },
          {
            "name": "icp_fit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Only ICP fits (score 70 or higher), or only non-fits."
          },
          {
            "name": "min_icp_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            },
            "description": "Minimum ICP score."
          },
          {
            "name": "last_activity_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+[smhd]$"
            },
            "description": "Active within this window, for example `7d`.",
            "example": "7d"
          },
          {
            "name": "last_activity_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+[smhd]$"
            },
            "description": "Quiet for at least this long, for example `30d`. Includes people with no activity.",
            "example": "30d"
          },
          {
            "name": "account",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only people at one account. Entity UUID or domain."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            },
            "description": "`all` lists everyone, cold leads included. With `all`, only `search`, `pipeline_stage`, `email`, `has_email`, `icp_fit`, `min_icp_score`, `last_activity_before`, `last_activity_after`, `account`, and `sort` (not `recently_added`) are supported, and the page size defaults to 50, max 200."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "last_activity",
                "last_activity_asc",
                "icp_score",
                "icp_score_asc",
                "recently_added"
              ],
              "default": "last_activity"
            },
            "description": "Sort order. Unknown values return 400."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Rows to skip. Wins over `page`."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page number. Used when `offset` is not set."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of people.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "people": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Person"
                      }
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "people": [
                    {
                      "id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                      "email": "sarah@acme.com",
                      "linkedin_url": "https://www.linkedin.com/in/sarahchen",
                      "first_name": "Sarah",
                      "last_name": "Chen",
                      "job_title": "VP Sales",
                      "seniority": "vp",
                      "company": "Acme",
                      "company_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                      "pipeline_stage": "discovery",
                      "source": "hubspot",
                      "icp_score": 82,
                      "icp_fit": true,
                      "first_seen_at": "2026-06-02T09:14:00Z",
                      "last_activity_at": "2026-09-24T15:02:00Z"
                    }
                  ],
                  "limit": 50,
                  "offset": 0,
                  "has_more": true
                }
              }
            }
          },
          "400": {
            "description": "A bad query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unknown_query_param": {
                    "summary": "unknown_query_param",
                    "value": {
                      "error": "unknown_query_param",
                      "detail": "unsupported query param(s): foo",
                      "supported": [
                        "search",
                        "pipeline_stage",
                        "..."
                      ]
                    }
                  },
                  "unknown_sort": {
                    "summary": "unknown_sort",
                    "value": {
                      "error": "unknown_sort",
                      "detail": "unsupported sort 'name'",
                      "supported": [
                        "last_activity",
                        "last_activity_asc",
                        "icp_score",
                        "icp_score_asc",
                        "recently_added"
                      ]
                    }
                  },
                  "invalid_include": {
                    "summary": "invalid_include",
                    "value": {
                      "error": "invalid_include",
                      "detail": "include supports only 'all'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "404": {
            "description": "`account` matches no account visible to this key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "account_not_found"
                }
              }
            }
          }
        }
      }
    },
    "/v2/people/{id}": {
      "get": {
        "tags": [
          "People"
        ],
        "operationId": "getPerson",
        "summary": "Get a person",
        "description": "One person. Identity, title, the account they work at, stage, ICP fit, recent activity, and the deals they are on.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Person entity UUID, email, or LinkedIn URL.",
            "example": "sarah@acme.com"
          }
        ],
        "responses": {
          "200": {
            "description": "The person.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "person": {
                      "$ref": "#/components/schemas/PersonDetail"
                    }
                  }
                },
                "example": {
                  "person": {
                    "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                    "name": "Sarah Chen",
                    "first_name": "Sarah",
                    "last_name": "Chen",
                    "email": "sarah@acme.com",
                    "linkedin_url": "https://www.linkedin.com/in/sarahchen",
                    "title": "VP Sales",
                    "seniority": "vp",
                    "account": {
                      "entity_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                      "name": "Acme",
                      "domain": "acme.com"
                    },
                    "stage": "discovery",
                    "icp": {
                      "score": 82,
                      "fit": true,
                      "tier": "tier_1"
                    },
                    "last_activity_at": "2026-09-24T15:02:00Z",
                    "recent_activity": [
                      {
                        "id": "a1",
                        "type": "email_replied",
                        "occurred_at": "2026-09-24T15:02:00Z",
                        "source": "gmail",
                        "summary": "Thursday works. Can you bring pricing for 40 seats?"
                      }
                    ],
                    "stakeholder_of": [
                      {
                        "deal_id": "d3c1b2a0-5e4f-4a7b-9c8d-1e2f3a4b5c6d",
                        "name": "Acme — 40 seats",
                        "stage": "Discovery",
                        "status": "open",
                        "amount": 48000,
                        "close_date": "2026-11-15"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "`id` is not a UUID, email, or LinkedIn URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid_id",
                  "detail": ":id must be a person entity UUID, an email, or a LinkedIn URL"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "description": "No person matches, or the person is outside this key's book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "person_not_found"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "listAccounts",
        "summary": "List accounts",
        "description": "Filtered, paginated list of accounts. By default the same set the app's Accounts list shows: accounts with an open or won deal, a recent loss, or recent activity. `include=all` lists every account. A member key sees only its own book.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Substring match on name and domain."
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "identified",
                "connected",
                "interested",
                "meeting_booked",
                "discovery",
                "demo",
                "negotiation",
                "closed_won",
                "closed_lost",
                "disqualified",
                "churned"
              ]
            },
            "description": "Exact account stage."
          },
          {
            "name": "icp_fit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "ICP fits (score 70 or higher), or non-fits."
          },
          {
            "name": "min_icp_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100
            },
            "description": "Minimum ICP score."
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "CRM owner. An email or a name."
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Country."
          },
          {
            "name": "has_open_deal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "With, or without, an open deal."
          },
          {
            "name": "last_activity_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+[smhd]$"
            },
            "description": "Active within this window, for example `7d`."
          },
          {
            "name": "last_activity_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+[smhd]$"
            },
            "description": "Quiet for at least this long, for example `30d`."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            },
            "description": "`all` lists every account, not just the default set."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "last_activity",
                "icp_score",
                "pipeline_value",
                "health",
                "win_chance"
              ],
              "default": "last_activity"
            },
            "description": "Sort order, highest first. `win_chance` ranks by the chance to win within 30 days, adds `win_probability` and `close_within_30d`, and caps `limit` at 50."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Rows to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountSummary"
                      }
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "accounts": [
                    {
                      "entity_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                      "name": "Acme",
                      "domain": "acme.com",
                      "industry": "Software",
                      "country": "US",
                      "icp_score": 82,
                      "icp_tier": "tier_1",
                      "icp_fit": true,
                      "health": 71,
                      "stage": "discovery",
                      "people_count": 4,
                      "open_deals": 1,
                      "pipeline_value": 48000,
                      "won_value": null,
                      "owner": {
                        "name": "Jordan Lee",
                        "email": "jordan@yourco.com"
                      },
                      "last_activity_at": "2026-09-24T15:02:00Z",
                      "last_inbound_at": "2026-09-24T15:02:00Z"
                    }
                  ],
                  "limit": 50,
                  "offset": 0,
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "description": "A bad query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unknown_query_param": {
                    "summary": "unknown_query_param",
                    "value": {
                      "error": "unknown_query_param",
                      "detail": "unsupported query param(s): foo",
                      "supported": [
                        "search",
                        "stage",
                        "..."
                      ]
                    }
                  },
                  "unknown_sort": {
                    "summary": "unknown_sort",
                    "value": {
                      "error": "unknown_sort",
                      "supported": [
                        "last_activity",
                        "icp_score",
                        "pipeline_value",
                        "health",
                        "win_chance"
                      ]
                    }
                  },
                  "invalid_stage": {
                    "summary": "invalid_stage",
                    "value": {
                      "error": "invalid_stage",
                      "supported": [
                        "identified",
                        "connected",
                        "interested",
                        "meeting_booked",
                        "discovery",
                        "demo",
                        "negotiation",
                        "closed_won",
                        "closed_lost",
                        "disqualified",
                        "churned"
                      ]
                    }
                  },
                  "invalid_duration": {
                    "summary": "invalid_duration",
                    "value": {
                      "error": "invalid_duration",
                      "detail": "last_activity_before must look like 30d, 12h or 90m"
                    }
                  },
                  "filter_unavailable": {
                    "summary": "filter_unavailable",
                    "value": {
                      "error": "filter_unavailable",
                      "detail": "the owner filter needs account ownership, which this workspace does not have yet"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "description": "`sort=win_chance` and the win model could not run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "win_model_unavailable"
                }
              }
            }
          }
        }
      }
    },
    "/v2/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "getAccount",
        "summary": "Get an account",
        "description": "The full record for a person or company. Facts with confidence and freshness, durable facts, saved documents, the buying committee, ICP fit, the timeline, and for a company its people and deals.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Entity UUID, email, LinkedIn URL, or domain.",
            "example": "sarah@acme.com"
          },
          {
            "name": "intent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft_email",
                "follow_up",
                "meeting_prep",
                "call_prep",
                "account_review"
              ]
            },
            "description": "Adds `key_activity` and `activity_summary`, ranked for this task."
          },
          {
            "name": "compress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            },
            "description": "Return only the ranked view and drop `recent_observations`."
          }
        ],
        "responses": {
          "200": {
            "description": "The account record, or candidates when the identifier is ambiguous.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/Ambiguous"
                    }
                  ]
                },
                "example": {
                  "entity_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                  "name": "Acme",
                  "type": "company",
                  "claims": {
                    "job_title": {
                      "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                      "property": "job_title",
                      "value": "VP Sales",
                      "confidence": 0.92,
                      "epistemic_class": "observed",
                      "freshness": "fresh",
                      "decays_at": null,
                      "observation_count": 3,
                      "last_observed_at": "2026-09-12T10:00:00Z"
                    },
                    "pipeline_stage": {
                      "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                      "property": "pipeline_stage",
                      "value": "discovery",
                      "confidence": 1,
                      "epistemic_class": "observed",
                      "freshness": "fresh",
                      "decays_at": null,
                      "observation_count": 1,
                      "last_observed_at": "2026-09-24T15:02:00Z"
                    }
                  },
                  "facts": [
                    {
                      "category": "Budget",
                      "content": "Budget approved for Q4, owned by the CRO.",
                      "date": "2026-09-24",
                      "quote": "We have the budget signed off for Q4.",
                      "speaker": "Sarah Chen",
                      "source": "fireflies"
                    }
                  ],
                  "documents": [
                    {
                      "type": "meeting_brief",
                      "title": "Discovery prep",
                      "date": "2026-09-23",
                      "snippet": "Goals for the call..."
                    }
                  ],
                  "stakeholders": [],
                  "committee": null,
                  "icp": {
                    "score": 82,
                    "fit": true,
                    "tier": "tier_1",
                    "reason": "VP-level buyer, 200-500 employees, B2B SaaS",
                    "scored_at": "2026-09-20T08:00:00Z",
                    "history": [],
                    "outcome_score": null
                  },
                  "key_activity": [
                    {
                      "what": "Replied to email",
                      "source": "gmail",
                      "when": "2026-09-24T15:02:00Z",
                      "detail": "Thursday works. Can you bring pricing for 40 seats?"
                    }
                  ],
                  "activity_summary": {
                    "total_observations": 37,
                    "by_type": {
                      "interaction.email_replied": 6
                    },
                    "first_seen": "2026-06-02T09:14:00Z",
                    "last_seen": "2026-09-24T15:02:00Z"
                  },
                  "people": [
                    {
                      "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                      "name": "Sarah Chen",
                      "title": "VP Sales",
                      "email": "sarah@acme.com",
                      "stage": "discovery"
                    }
                  ],
                  "people_count": 4,
                  "deals": [
                    {
                      "id": "d3c1b2a0-5e4f-4a7b-9c8d-1e2f3a4b5c6d",
                      "name": "Acme — 40 seats",
                      "account": {
                        "entity_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                        "name": "Acme",
                        "domain": "acme.com"
                      },
                      "stage": "Discovery call",
                      "canonical_stage": "discovery",
                      "status": "open",
                      "amount": 48000,
                      "currency": "USD",
                      "close_date": "2026-11-15",
                      "owner": {
                        "name": "Jordan Lee",
                        "email": "jordan@yourco.com"
                      },
                      "pipeline": {
                        "id": "default",
                        "name": "Sales pipeline"
                      },
                      "health": 71,
                      "win_probability": 0.42,
                      "close_within_30d": 0.18,
                      "last_activity_at": "2026-09-24T15:02:00Z",
                      "implied": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "$ref": "#/components/responses/EntityNotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/context": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "getContext",
        "summary": "Get context",
        "description": "Ranked, budget-fit context for one task. `focus` can be a person, an account, or a deal. A deal adds a `deal` block first, and the rest is the deal's account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "focus"
                ],
                "properties": {
                  "focus": {
                    "type": "string",
                    "description": "Email, LinkedIn URL, domain, entity UUID, CRM deal UUID, or `implied:<account_id>`."
                  },
                  "intent": {
                    "type": "string",
                    "enum": [
                      "draft_email",
                      "follow_up",
                      "meeting_prep",
                      "call_prep",
                      "account_review"
                    ],
                    "default": "account_review"
                  },
                  "budget_tokens": {
                    "type": "integer",
                    "description": "Approximate token budget for the block."
                  }
                }
              },
              "example": {
                "focus": "sarah@acme.com",
                "intent": "meeting_prep"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The context block, or candidates when `focus` is ambiguous.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Context"
                    },
                    {
                      "$ref": "#/components/schemas/Ambiguous"
                    }
                  ]
                },
                "example": {
                  "entity": {
                    "id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                    "type": "person"
                  },
                  "intent": "meeting_prep",
                  "summary": "Sarah Chen, VP Sales at Acme. In discovery since Sep 24. Budget approved for Q4.",
                  "claims": [
                    {
                      "property": "job_title",
                      "value": "VP Sales"
                    },
                    {
                      "property": "company_size",
                      "value": "200-500",
                      "freshness": "aging",
                      "since": "2026-04-02"
                    }
                  ],
                  "workspace": [],
                  "facts": [
                    {
                      "category": "Budget",
                      "content": "Budget approved for Q4, owned by the CRO.",
                      "date": "2026-09-24"
                    }
                  ],
                  "timeline": [
                    {
                      "when": "2026-09-24T15:02:00Z",
                      "type": "interaction.email_replied",
                      "tier": "full",
                      "summary": "Thursday works. Can you bring pricing for 40 seats?"
                    }
                  ],
                  "stakeholders": [],
                  "committee": null,
                  "predictions": [],
                  "documents": [],
                  "icp": {
                    "score": 82,
                    "fit": true,
                    "tier": "tier_1",
                    "reason": "VP-level buyer, 200-500 employees, B2B SaaS",
                    "scored_at": "2026-09-20T08:00:00Z",
                    "history": [],
                    "outcome_score": null
                  },
                  "meta": {
                    "token_estimate": 1240,
                    "claims_total": 41,
                    "claims_returned": 12,
                    "facts_total": 9,
                    "facts_returned": 9,
                    "timeline_events": 14
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `focus` or unknown `intent`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "focus_required": {
                    "summary": "focus_required",
                    "value": {
                      "error": "focus_required"
                    }
                  },
                  "invalid_intent": {
                    "summary": "invalid_intent",
                    "value": {
                      "error": "invalid_intent",
                      "valid_intents": [
                        "draft_email",
                        "follow_up",
                        "meeting_prep",
                        "call_prep",
                        "account_review"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "description": "Nothing matches `focus`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "entity_not_found": {
                    "summary": "entity_not_found",
                    "value": {
                      "error": "entity_not_found"
                    }
                  },
                  "deal_not_found": {
                    "summary": "deal_not_found",
                    "value": {
                      "error": "deal_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/query": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "query",
        "summary": "Query",
        "description": "Retrieve activity or facts across many accounts. Nous retrieves and compacts. Your agent finds the pattern.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scope": {
                    "$ref": "#/components/schemas/QueryScope"
                  },
                  "without": {
                    "$ref": "#/components/schemas/QueryScope",
                    "description": "Subtract entities matching this scope."
                  },
                  "return": {
                    "type": "string",
                    "enum": [
                      "observations",
                      "entities"
                    ],
                    "default": "observations"
                  },
                  "question": {
                    "type": "string",
                    "description": "What you want to learn. Enables semantic ranking and is echoed back."
                  }
                }
              },
              "examples": {
                "no_reply": {
                  "summary": "Emailed in 5 days, no reply",
                  "value": {
                    "scope": {
                      "property": "interaction.email_sent",
                      "since_days": 5
                    },
                    "without": {
                      "property": "interaction.email_replied",
                      "since_days": 5
                    },
                    "return": "entities"
                  }
                },
                "funnel": {
                  "summary": "Funnel by stage",
                  "value": {
                    "scope": {
                      "kind": "state",
                      "property": "pipeline_stage"
                    },
                    "return": "entities"
                  }
                },
                "facts": {
                  "summary": "Search facts across accounts",
                  "value": {
                    "scope": {
                      "facts": true
                    },
                    "question": "Which accounts want to replace Clay?",
                    "return": "entities"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result. `scope.reporting`, `scope.attention`, and `scope.foundation` return their own shapes.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/Ambiguous"
                    },
                    {
                      "type": "object",
                      "additionalProperties": true
                    }
                  ]
                },
                "example": {
                  "scope": {
                    "property": "interaction.email_sent",
                    "since_days": 5
                  },
                  "without": {
                    "property": "interaction.email_replied",
                    "since_days": 5
                  },
                  "mode": "structured",
                  "return": "entities",
                  "matched": 23,
                  "returned": 23,
                  "sampled": false,
                  "items": [
                    {
                      "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                      "entity_name": "Sarah Chen",
                      "matches": 2,
                      "most_recent_at": "2026-09-28T09:00:00Z",
                      "most_recent_type": "interaction.email_sent",
                      "most_recent_source": "instantly",
                      "most_recent_summary": "Follow-up on pricing"
                    }
                  ],
                  "rollups": {
                    "by_type": {
                      "interaction.email_sent": 31
                    },
                    "by_source": {
                      "instantly": 31
                    }
                  },
                  "meta": {
                    "token_estimate": 910
                  },
                  "question": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/deals": {
      "get": {
        "tags": [
          "Deals"
        ],
        "operationId": "listDeals",
        "summary": "List deals",
        "description": "Deals, CRM and implied, filtered and paginated. Read-only. The CRM is the source of truth. A member key sees deals on its own accounts.",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only one account's deals. Entity UUID or domain."
          },
          {
            "name": "pipeline",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "CRM pipeline id. Excludes implied deals."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "won",
                "lost"
              ]
            },
            "description": "Deal status."
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "identified",
                "connected",
                "interested",
                "meeting_booked",
                "discovery",
                "demo",
                "negotiation",
                "closed_won",
                "closed_lost",
                "disqualified",
                "churned"
              ]
            },
            "description": "Standard stage (`canonical_stage`)."
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "CRM owner. An email or a name."
          },
          {
            "name": "closing_within_days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            },
            "description": "Open deals with a close date from today to N days out. Excludes implied deals."
          },
          {
            "name": "min_amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Minimum amount."
          },
          {
            "name": "implied",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "`true` for implied deals only, `false` for CRM deals only."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "last_activity",
                "close_date",
                "amount",
                "win_probability"
              ],
              "default": "last_activity"
            },
            "description": "`close_date` is soonest first. The others are highest or newest first."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Rows to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of deals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DealSummary"
                      }
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "deals": [
                    {
                      "id": "d3c1b2a0-5e4f-4a7b-9c8d-1e2f3a4b5c6d",
                      "name": "Acme — 40 seats",
                      "account": {
                        "entity_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                        "name": "Acme",
                        "domain": "acme.com"
                      },
                      "stage": "Discovery call",
                      "canonical_stage": "discovery",
                      "status": "open",
                      "amount": 48000,
                      "currency": "USD",
                      "close_date": "2026-11-15",
                      "owner": {
                        "name": "Jordan Lee",
                        "email": "jordan@yourco.com"
                      },
                      "pipeline": {
                        "id": "default",
                        "name": "Sales pipeline"
                      },
                      "health": 71,
                      "win_probability": 0.42,
                      "close_within_30d": 0.18,
                      "last_activity_at": "2026-09-24T15:02:00Z",
                      "implied": false
                    },
                    {
                      "id": "implied:3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                      "name": "Acme deal",
                      "account": {
                        "entity_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                        "name": "Acme",
                        "domain": "acme.com"
                      },
                      "stage": "Discovery",
                      "canonical_stage": "discovery",
                      "status": "open",
                      "amount": null,
                      "currency": null,
                      "close_date": null,
                      "owner": {
                        "name": "Jordan Lee",
                        "email": "jordan@yourco.com"
                      },
                      "pipeline": null,
                      "health": 71,
                      "win_probability": 0.42,
                      "close_within_30d": 0.18,
                      "last_activity_at": "2026-09-24T15:02:00Z",
                      "implied": true
                    }
                  ],
                  "limit": 50,
                  "offset": 0,
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "description": "A bad query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unknown_query_param": {
                    "summary": "unknown_query_param",
                    "value": {
                      "error": "unknown_query_param",
                      "detail": "unsupported query param(s): foo",
                      "supported": [
                        "account",
                        "pipeline",
                        "..."
                      ]
                    }
                  },
                  "invalid_status": {
                    "summary": "invalid_status",
                    "value": {
                      "error": "invalid_status",
                      "detail": "status must be one of open, won, lost"
                    }
                  },
                  "invalid_stage": {
                    "summary": "invalid_stage",
                    "value": {
                      "error": "invalid_stage",
                      "supported": [
                        "identified",
                        "connected",
                        "interested",
                        "meeting_booked",
                        "discovery",
                        "demo",
                        "negotiation",
                        "closed_won",
                        "closed_lost",
                        "disqualified",
                        "churned"
                      ]
                    }
                  },
                  "ambiguous_account": {
                    "summary": "ambiguous_account",
                    "value": {
                      "error": "ambiguous_account",
                      "detail": "that name matches several records; pass an entity id or a domain",
                      "candidates": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "description": "`account` matches no account visible to this key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "account_not_found"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/deals/{id}": {
      "get": {
        "tags": [
          "Deals"
        ],
        "operationId": "getDeal",
        "summary": "Get a deal",
        "description": "One deal in full. Stakeholders, stage history, activity, filed objections and competitors, health, and win odds.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CRM deal entity UUID, or `implied:<account_id>`.",
            "example": "d3c1b2a0-5e4f-4a7b-9c8d-1e2f3a4b5c6d"
          }
        ],
        "responses": {
          "200": {
            "description": "The deal.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deal": {
                      "$ref": "#/components/schemas/DealDetail"
                    }
                  }
                },
                "example": {
                  "deal": {
                    "id": "d3c1b2a0-5e4f-4a7b-9c8d-1e2f3a4b5c6d",
                    "name": "Acme — 40 seats",
                    "account": {
                      "entity_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                      "name": "Acme",
                      "domain": "acme.com"
                    },
                    "stage": "Discovery call",
                    "canonical_stage": "discovery",
                    "status": "open",
                    "amount": 48000,
                    "currency": "USD",
                    "close_date": "2026-11-15",
                    "owner": {
                      "name": "Jordan Lee",
                      "email": "jordan@yourco.com"
                    },
                    "pipeline": {
                      "id": "default",
                      "name": "Sales pipeline"
                    },
                    "health": 71,
                    "win_probability": 0.42,
                    "close_within_30d": 0.18,
                    "last_activity_at": "2026-09-24T15:02:00Z",
                    "implied": false,
                    "stakeholders": [
                      {
                        "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                        "name": "Sarah Chen",
                        "title": "VP Sales",
                        "role": "champion",
                        "conversations": 6
                      }
                    ],
                    "stage_history": [
                      {
                        "stage": "Discovery call",
                        "canonical_stage": "discovery",
                        "entered_at": "2026-09-24",
                        "days": 6,
                        "current": true
                      }
                    ],
                    "claims": {
                      "objections": [],
                      "competitors": [],
                      "budget": [],
                      "timeline": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "description": "No such deal, outside this key's book, or an implied id on an account that has CRM deals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "deal_not_found": {
                    "summary": "deal_not_found",
                    "value": {
                      "error": "deal_not_found"
                    }
                  },
                  "has_crm_deals": {
                    "summary": "deal_not_found",
                    "value": {
                      "error": "deal_not_found",
                      "detail": "this account has CRM deals; open one of those"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/pipelines": {
      "get": {
        "tags": [
          "Deals"
        ],
        "operationId": "listPipelines",
        "summary": "List pipelines",
        "description": "The CRM pipelines and their stages, each mapped onto the standard ladder. A workspace without a CRM gets `implied: true` and its own stage ladder.",
        "responses": {
          "200": {
            "description": "Pipelines and the standard ladder.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "is_primary": {
                            "type": "boolean"
                          },
                          "deals": {
                            "type": "integer",
                            "description": "Omitted for member keys on a closed workspace."
                          },
                          "open_deals": {
                            "type": "integer"
                          },
                          "stages": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Stage"
                            }
                          }
                        }
                      }
                    },
                    "implied": {
                      "type": "boolean",
                      "description": "True when there is no CRM pipeline."
                    },
                    "primary_pipeline_ref": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "workspace_stages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Stage"
                      },
                      "description": "Only when `implied` is true."
                    },
                    "standard_stages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "enum": [
                              "identified",
                              "connected",
                              "interested",
                              "meeting_booked",
                              "discovery",
                              "demo",
                              "negotiation",
                              "closed_won",
                              "closed_lost",
                              "disqualified",
                              "churned"
                            ]
                          },
                          "label": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "integer"
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "active",
                              "won",
                              "lost",
                              "churned"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "pipelines": [
                    {
                      "id": "default",
                      "name": "Sales pipeline",
                      "is_primary": true,
                      "deals": 212,
                      "open_deals": 48,
                      "stages": [
                        {
                          "key": "appointmentscheduled",
                          "label": "Discovery call",
                          "canonical": "discovery",
                          "kind": "active"
                        }
                      ]
                    }
                  ],
                  "implied": false,
                  "primary_pipeline_ref": "default",
                  "standard_stages": [
                    {
                      "key": "identified",
                      "label": "Identified",
                      "rank": 0,
                      "kind": "active"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "A bad query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "unknown_query_param",
                  "detail": "unsupported query param(s): foo",
                  "supported": []
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/notes": {
      "post": {
        "tags": [
          "Notes"
        ],
        "operationId": "addNote",
        "summary": "Add a note",
        "description": "Keep a note, brief, or transcript on a person or company. Append-only and dated. Creates the person or company when the email, LinkedIn URL, or domain is new.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "focus",
                  "content"
                ],
                "properties": {
                  "focus": {
                    "type": "string",
                    "description": "Email, LinkedIn URL, domain, or entity UUID. Never a bare name."
                  },
                  "content": {
                    "type": "string",
                    "description": "The note text. A line or a full transcript."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "note",
                      "meeting_brief",
                      "transcript",
                      "meeting_notes",
                      "pre_meeting",
                      "research"
                    ],
                    "default": "note"
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "date": {
                    "type": "string",
                    "description": "The relevant date, for example the meeting date. Defaults to now."
                  }
                }
              },
              "example": {
                "focus": "sarah@acme.com",
                "type": "meeting_brief",
                "title": "Discovery prep",
                "content": "Goals: confirm budget owner, map the committee, agree a pilot scope.",
                "date": "2026-10-02"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The saved note.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "note": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "entity_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "category": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "object"
                        }
                      },
                      "additionalProperties": true
                    },
                    "entity_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "doc_type": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "note": {
                    "id": "7a2c9e1f-3b4d-4f6a-8c0e-1d2b3a4c5e6f",
                    "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                    "category": "Meeting Brief",
                    "content": "Goals: confirm budget owner, map the committee, agree a pilot scope.",
                    "source": "agent",
                    "metadata": {
                      "doc_type": "meeting_brief",
                      "title": "Discovery prep",
                      "date": "2026-10-02"
                    }
                  },
                  "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                  "doc_type": "meeting_brief"
                }
              }
            }
          },
          "400": {
            "description": "Missing `focus` or `content`, or `focus` is a bare name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "focus_and_content_required": {
                    "summary": "focus_and_content_required",
                    "value": {
                      "error": "focus_and_content_required"
                    }
                  },
                  "invalid_focus": {
                    "summary": "invalid_focus",
                    "value": {
                      "error": "invalid_focus",
                      "detail": "provide an entity id, email, LinkedIn URL, or domain — not a bare name"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "403": {
            "$ref": "#/components/responses/ReadOnlyKey"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "tags": [
          "Notes"
        ],
        "operationId": "listNotes",
        "summary": "List notes",
        "description": "Saved notes, newest first. Optionally for one person or company.",
        "parameters": [
          {
            "name": "focus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only notes on this person or company. Email, LinkedIn URL, domain, or entity UUID."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Rows to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of notes, or candidates when `focus` is ambiguous.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "notes": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/NoteSummary"
                          }
                        },
                        "count": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "True when the page is full."
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Ambiguous"
                    }
                  ]
                },
                "example": {
                  "notes": [
                    {
                      "id": "7a2c9e1f-3b4d-4f6a-8c0e-1d2b3a4c5e6f",
                      "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                      "type": "meeting_brief",
                      "title": "Discovery prep",
                      "date": "2026-10-02",
                      "snippet": "Goals: confirm budget owner, map the committee, agree a pilot scope."
                    }
                  ],
                  "count": 1,
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "$ref": "#/components/responses/EntityNotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/attention": {
      "get": {
        "tags": [
          "Attention"
        ],
        "operationId": "getAttention",
        "summary": "Get attention",
        "description": "What to work next across the workspace, ranked. Each item carries a suggested action.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum items."
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked items and counts per kind.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AttentionItem"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "going_dark": {
                          "type": "integer"
                        },
                        "decayed_facts": {
                          "type": "integer"
                        },
                        "upcoming_meetings": {
                          "type": "integer"
                        },
                        "open_commitments": {
                          "type": "integer"
                        },
                        "hot_intent": {
                          "type": "integer"
                        },
                        "flags": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "items": [
                    {
                      "kind": "upcoming_meeting",
                      "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                      "entity_name": "Sarah Chen",
                      "what": "Discovery call with Sarah Chen",
                      "suggested_action": "Prep with get_context intent meeting_prep",
                      "age_days": 0,
                      "when": "2026-10-02T15:00:00Z",
                      "source": "google_calendar"
                    },
                    {
                      "kind": "going_dark",
                      "entity_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                      "entity_name": "Northwind",
                      "what": "No activity in 34 days",
                      "suggested_action": "Send a re-engagement note",
                      "age_days": 34,
                      "source": "gmail"
                    }
                  ],
                  "meta": {
                    "going_dark": 7,
                    "decayed_facts": 2,
                    "upcoming_meetings": 3,
                    "open_commitments": 4,
                    "hot_intent": 1,
                    "flags": 0
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/insights": {
      "get": {
        "tags": [
          "Insights"
        ],
        "operationId": "listInsights",
        "summary": "List insights",
        "description": "The Insights board. What customers said about your product, sales, success, and market, tied to the account that said it. Only sorted insights linked to an account appear, never lines your own team said. Newest first. Unknown query parameters return 400.",
        "parameters": [
          {
            "name": "lane",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InsightLane"
            },
            "description": "Who has to act."
          },
          {
            "name": "subtype",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InsightSubtype"
            },
            "description": "What kind of work. Must belong to `lane` when both are set."
          },
          {
            "name": "focus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only insights from one account. Email, LinkedIn URL, domain, or entity UUID. A bare name returns 400."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Only insights on or after this ISO date, for example `2026-09-01`."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Rows to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of insights and the workspace taxonomy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insights": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Insight"
                      }
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "taxonomy": {
                      "$ref": "#/components/schemas/InsightTaxonomy"
                    }
                  }
                },
                "example": {
                  "insights": [
                    {
                      "id": "5d0c2b7e-1f3a-4c8d-9e6b-2a7f4c1d8e30",
                      "lane": "product",
                      "subtype": "feature",
                      "content": "Wants CRM sync to write call notes back to HubSpot.",
                      "quote": "If it doesn't land in HubSpot, my reps won't see it.",
                      "speaker": "Sarah Chen",
                      "account": {
                        "entity_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                        "name": "Acme"
                      },
                      "source_ref": "source://fireflies/01J8ZK2",
                      "occurred_at": "2026-09-24T15:00:00Z",
                      "tags": [
                        "CRM integration"
                      ]
                    }
                  ],
                  "limit": 50,
                  "offset": 0,
                  "has_more": false,
                  "taxonomy": {
                    "lanes": [
                      {
                        "key": "product",
                        "label": "Product"
                      },
                      {
                        "key": "sales",
                        "label": "Sales"
                      },
                      {
                        "key": "success",
                        "label": "Customer success"
                      },
                      {
                        "key": "market",
                        "label": "Market"
                      }
                    ],
                    "subtypes": [
                      {
                        "key": "bug",
                        "lane": "product",
                        "label": "Bug",
                        "definition": "something in our product is broken or fails"
                      },
                      {
                        "key": "friction",
                        "lane": "product",
                        "label": "Friction",
                        "definition": "it works, but it is manual, slow, clunky or confusing to use"
                      },
                      {
                        "key": "feature",
                        "lane": "product",
                        "label": "Feature request",
                        "definition": "they want a capability we do not have"
                      },
                      {
                        "key": "objection",
                        "lane": "sales",
                        "label": "Objection",
                        "definition": "a reason the buyer gives against buying, switching or renewing with us, other than price"
                      },
                      {
                        "key": "pricing",
                        "lane": "sales",
                        "label": "Pricing",
                        "definition": "cost, fees, per-use charges, discounts, value for money"
                      },
                      {
                        "key": "pitch",
                        "lane": "sales",
                        "label": "Pitch & messaging",
                        "definition": "the buyer misunderstood or questioned what we are or do, or reacted to how we framed it"
                      },
                      {
                        "key": "setup",
                        "lane": "success",
                        "label": "Setup",
                        "definition": "getting it running: install, integrations to switch on, logins, access, provisioning"
                      },
                      {
                        "key": "training",
                        "lane": "success",
                        "label": "Training & adoption",
                        "definition": "staff not using it, needing training, materials, champions or follow-up"
                      },
                      {
                        "key": "partners",
                        "lane": "market",
                        "label": "Competitors & partners",
                        "definition": "other vendors and incumbent tools, partners, and the rules they set"
                      },
                      {
                        "key": "buyers",
                        "lane": "market",
                        "label": "Who buys",
                        "definition": "roles, decision makers, customer segments and how customers operate"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "A bad parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unknown_query_param": {
                    "summary": "unknown_query_param",
                    "value": {
                      "error": "unknown_query_param",
                      "detail": "unsupported query param(s): type",
                      "supported": [
                        "lane",
                        "subtype",
                        "focus",
                        "since",
                        "limit",
                        "offset",
                        "category"
                      ]
                    }
                  },
                  "invalid_lane": {
                    "summary": "invalid_lane",
                    "value": {
                      "error": "invalid_lane",
                      "supported": [
                        "product",
                        "sales",
                        "success",
                        "market"
                      ]
                    }
                  },
                  "invalid_subtype": {
                    "summary": "invalid_subtype",
                    "value": {
                      "error": "invalid_subtype",
                      "supported": [
                        "bug",
                        "friction",
                        "feature",
                        "objection",
                        "pricing",
                        "pitch",
                        "setup",
                        "training",
                        "partners",
                        "buyers"
                      ]
                    }
                  },
                  "subtype_not_in_lane": {
                    "summary": "subtype_not_in_lane",
                    "value": {
                      "error": "subtype_not_in_lane",
                      "detail": "'pricing' belongs to the 'sales' lane, not 'product'"
                    }
                  },
                  "invalid_since": {
                    "summary": "invalid_since",
                    "value": {
                      "error": "invalid_since",
                      "detail": "since must be an ISO date, e.g. 2026-09-01"
                    }
                  },
                  "invalid_focus": {
                    "summary": "invalid_focus",
                    "value": {
                      "error": "invalid_focus",
                      "detail": "provide an entity id, email, LinkedIn URL, or domain — not a bare name"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "description": "`focus` matches no account visible to this key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "focus_not_found"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "description": "The Insights board is not set up on this instance yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "insights_board_not_ready"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Insights"
        ],
        "operationId": "recordInsights",
        "summary": "Record insights",
        "description": "Record what a call or email taught you about your own business. Workspace-level, with no account. Near-duplicates of existing insights are skipped.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "insights"
                ],
                "properties": {
                  "insights": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "category",
                        "content"
                      ],
                      "properties": {
                        "category": {
                          "type": "string",
                          "enum": [
                            "product",
                            "positioning",
                            "market",
                            "buyer"
                          ],
                          "description": "Items with any other category are dropped."
                        },
                        "content": {
                          "type": "string",
                          "minLength": 8,
                          "description": "The insight in one sentence."
                        },
                        "quote": {
                          "type": "string",
                          "description": "The verbatim line that supports it."
                        },
                        "speaker": {
                          "type": "string",
                          "description": "Who said it."
                        }
                      }
                    }
                  },
                  "source_label": {
                    "type": "string",
                    "description": "Where these came from, for example `Acme discovery call`."
                  },
                  "occurred_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "example": {
                "insights": [
                  {
                    "category": "product",
                    "content": "Call notes need to land in HubSpot for reps to use them.",
                    "quote": "If it doesn't land in HubSpot, my reps won't see it.",
                    "speaker": "Sarah Chen"
                  }
                ],
                "source_label": "Acme discovery call",
                "occurred_at": "2026-09-24T15:00:00Z"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "How many were written.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "written": {
                      "type": "integer",
                      "description": "Insights written. Lower than `submitted` when some were duplicates or had an unknown category."
                    },
                    "submitted": {
                      "type": "integer",
                      "description": "Insights that passed validation."
                    }
                  }
                },
                "example": {
                  "written": 1,
                  "submitted": 1
                }
              }
            }
          },
          "400": {
            "description": "No insights, or none with content of 8 characters or more.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insights_required": {
                    "summary": "insights_required",
                    "value": {
                      "error": "insights_required"
                    }
                  },
                  "no_valid_insights": {
                    "summary": "no_valid_insights",
                    "value": {
                      "error": "no_valid_insights",
                      "detail": "each insight needs a category and content (≥8 chars)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "403": {
            "$ref": "#/components/responses/ReadOnlyKey"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2/people/{id}/enrich": {
      "post": {
        "tags": [
          "Enrich & score"
        ],
        "operationId": "enrichPerson",
        "summary": "Enrich a person",
        "description": "Run the workspace's enrichment providers (Apollo, Prospeo, Findymail) on one person, then rescore it against the ICP. A person enriched in the last 90 days is returned as is, with nothing spent, unless `force` is true.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Person entity UUID.",
            "example": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enrich again even inside the 90-day reuse window."
                  }
                }
              },
              "example": {
                "force": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The person after enrichment, or the earlier result when it was reused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "person": {
                      "$ref": "#/components/schemas/Person"
                    },
                    "enriched": {
                      "type": "boolean",
                      "description": "True when this run found data."
                    },
                    "provider": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "apollo",
                        "prospeo",
                        "findymail",
                        null
                      ],
                      "description": "The provider that answered this run. Null when nothing ran or nothing was found."
                    },
                    "fields_added": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Fields that were empty before and hold a value now."
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when a recent enrichment was reused and no provider was called."
                    },
                    "last_enriched_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Present when `cached` is true."
                    },
                    "last_provider": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "apollo",
                        "prospeo",
                        "findymail",
                        null
                      ],
                      "description": "Present when `cached` is true."
                    }
                  }
                },
                "examples": {
                  "enriched": {
                    "summary": "Enriched now",
                    "value": {
                      "person": {
                        "id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                        "entity_id": "9b2f6c1e-4d3a-4f7e-9a51-2c8d7e3b1f40",
                        "email": "sarah@acme.com",
                        "linkedin_url": "https://www.linkedin.com/in/sarahchen",
                        "first_name": "Sarah",
                        "last_name": "Chen",
                        "job_title": "VP Sales",
                        "seniority": "vp",
                        "company": "Acme",
                        "company_id": "3e7a1d52-8c4b-4b9e-a0f3-6d2c9e8b7a15",
                        "pipeline_stage": "discovery",
                        "source": "hubspot",
                        "icp_score": 82,
                        "icp_fit": true,
                        "first_seen_at": "2026-06-02T09:14:00Z",
                        "last_activity_at": "2026-09-24T15:02:00Z",
                        "phone": "+1 415 555 0142"
                      },
                      "enriched": true,
                      "provider": "apollo",
[...]
